{{>navbar}}
<div class="row">
    <div class="col-md-12">
    <b>Всего:</b> {{cars.length}}
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Изображения</th>
        {{#each columns}}
            <th>{{this.title}}<a href="{{../url}}?orderby={{this.id}}&direction=0">▲</a><a href="{{url}}?orderby={{this.id}}&direction=1">▼</a></th>
        {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each cars}}
            <tr>
                <td>
                {{#if this.images}}
                <a href="/car/{{this.id}}"><img style="max-height: 150px;" src="https://{{latest this.images "url"}}/320x240"/></a>
                {{else}}
                <a href="/car/{{this.id}}"><img style="max-height: 150px;" src="/images/no_image.png"></a>
                {{/if}}
                </td>
                <td>
                    <a href="{{this.url}}">{{this.id}}</a>
                </td>
                <td>
                    {{this.mark}} {{this.model}} {{this.generation}}
                </td>
                <td>
                    {{this.year}} <br> {{money this.run}} {{#if this.owners}} <br> {{this.owners}} {{/if}}
                </td>
                <td>
                    {{money this.price}}
                </td>
                <td>
                    {{momentFromNow this.created}} <br>
                    {{momentFromNow this.updated}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>