{{>navbar}}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Дата обновления</th>
        <th>Добавлено</th>
    </tr>
    </thead>
    <tbody>
    {{#each sequences}}
        <tr>
            <td>
                {{momentFromNow this.updatedAt}}
            </td>
            <td>
                {{#if this.carsAdded}}
                    <a class="btn btn-info"
                       href="/link/{{this.linkId}}/sequence/{{this.orderId}}">{{this.carsAdded}}</a>
                {{else}}
                    {{this.carsAdded}}
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>